*{
 font-family: 'Ubuntu', sans-serif,italic ; 
}

.container{
  margin: auto;
  max-width: 900px;
  margin-top: 20px;
   
  background: linear-gradient(#bcd7f0, #7f62eb);

  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  
  border-style: groove;
  box-sizing: border-box;
}

.container div{
  padding-left: 10px;
  padding-right: 10px;
  margin: none;
}

.header-left{
  min-width: 80px;
  text-align: center;
  color: white;
}

.photo{
  width: 70%;
  border-radius: 50%;
  padding-top: 20px;
}

.photo:hover{
  width: 100%;
}

.header-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white;
  color: black;
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
}

.header-right p{
  padding-top: 20px;
}

.contact-left{
  min-width: 80px;
  text-align: center;
  color: white;

}

.contact-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white;
}

.contact-right p{
  display: flex;
  align-content: space-between;
}

.contact-right p i{
  padding-right: 10px;
}

.education-left{
  min-width: 80px;
  text-align: center;
  color: white;
}

.education-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white
}

.certyficates-left{
  min-width: 80px;
  text-align: center;
  color: white;
}

.certyficates-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white

}

.projects-left{
  min-width: 80px;
  text-align: center;
  color: white;
}

.projects-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white
}

.skills-left{
  min-width: 80px;
  text-align: center;
  color: white;
}


.skills-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white
}

.other-left{
  min-width: 80px;
  text-align: center;
  color: white;
}

.other-right{
  min-width: 20px;
  padding-top: 24px;
  grid-column: span 3;
  background: white
}

.small{
  font-size: 15px;
  text-align: end;
}

.photo:hover{
  width: 100%;
}


span{
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(15, 15, 15);
}


.law{
  font-size: 10px;
  background: white
}

.white h1:hover{
  font-size: 60px;
}


.footer{
  grid-row-start: 9;
  grid-column: span 4; 
  
}

.footer ul{
  margin: auto;
  display: flex;
  justify-content:space-evenly;
}

.footer ul li{
  padding: 10px;
  display: inline;
}
.footer ul li a i{
  color: white;
}

.footer ul li a i:hover{
  color: rgb(228, 23, 23);
}

a:link{
  color: green;
}

a:visited{
  color: grey;
}
a:hover{
  color: #f56464;
}

hr{
  height: 5px;
  background-color: black;
  border: none;
}



i{
  font-size: 25px;
  color: rgb(30, 255, 131)
}
p a{
  word-break: break-all;
}

.tab1{
  padding-left: 1rem;
}



.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px
}

.progress {
    height: 20px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}

.progress .progress-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: -30px;
    right: -25px
}

.progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg)
}

h1 {
    text-align: center
}

body {
    background: linear-gradient(to right, #d9a7c7, #fffcdc)
}