*{
  background-color: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
}

#container{
  margin: auto;
  max-width: 900px;
   
  background-color: hsl(0, 0%, 100%);

  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  
  border-style: groove;
  box-sizing: border-box;
}

#container div{
  padding-left: 10px;
  padding-right: 10px;
  margin: none;
}

#header{
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 46px;
  margin-bottom: 20px;
  text-align: center;
  border-style: double;
  box-sizing: border-box;
}

#blue{
  min-width: 80px;
  text-align: center;
  background-color: rgb(173, 173, 245);
  color: rgb(255, 255, 255);    
}

#blue #small{
  font-size: 10px;
  text-align: end;
}

#blue #photo{
  width: 70%;
  border-radius: 50%;
  padding-top: 20px;
}

#blue #photo:hover{
  width: 100%;
}

#white{
  min-width: 20px;
  padding-top: 19px;
  grid-column: span 3;
  background-color: white;
}

#white span{
  text-transform: uppercase;
  color: rgb(183, 0, 255);
}

#white h1{
  font-size: 40px;
}

#white h1:hover{
  font-size: 60px;
}

#white #law{
  font-size: 10px;
}

#footer{
  margin-top: 5px;
  grid-row-start: 8;
  grid-column: span 4; 
  border-style: double;
}

#footer ul{
  margin: auto;
  display: flex;
  justify-content:space-evenly;
}

#footer ul li{
  display: inline;
  font-size: 20px;
}

a:link{
  color: green;
}

a:visited{
  color: grey;
}

a:hover{
  color: red;
}

p:hover{
  color: indianred;
}

hr{
  height: 2px;
  background-color: black;
  border: none;
}

#tab1 {
  padding-left: 2em;
}


